**/.ipynb_checkpoints
*.png
*.mp4
*.npy
*.npz
*.dae
dataset/*
logs/*
logs_tb/*

**/__pycache__/
**/**/__pycache__
**/**/**/__pycache__
**/**/**/**/__pycache__
.vscode/
.DS_Store/
*.ipynb

dataset/
wandb/