numpy
scikit-image
torch>=1.8
# pip install torch==1.7.1+cu110 torchvision==0.8.2+cu110 torchaudio==0.7.2 -f https://download.pytorch.org/whl/t$rch_stable.html
torchvision>=0.9.1
imageio
imageio-ffmpeg
matplotlib
configargparse
tensorboardX>=2.0
opencv-python
einops
tensorboard
lpips